<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inbox</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <header th:replace="components/header :: app-header"/>

    <nav>
        <div class="card mb-1">
            <a class="btn btn-primary" th:href="@{/compose}">Compose Message</a>
        </div>
        <th:block th:replace="components/folders-nav :: folders-nav"/>
    </nav>

    <main>
        <div class="card">
            <div class="card-header" th:text="${folderName}"/>
            <div class="card-body">
                <div class="list-group">
                    <a th:each="message : ${emailList}"
                       class="list-group-item list-group-item-action"
                       th:href="@{/email/{id} (id = ${message.key.timeUUID}, folder = ${folderName})}"
                       th:classappend="${message.isUnread} ? 'list-group-item-primary'">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${message.subject}"/>
                            <small th:text="${message.getVerboseTimeAgo()}"></small>
                        </div>
                        <p class="mb-1" th:text="${message.to}"/>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>Footer</p>
    </footer>
</div>
</body>
</html>